:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  --chx-chat-background-color: var(--md-sys-color-background);
  background-color: var(--chx-chat-background-color);
}

.chat__message-list {
  border-radius: 1rem;
  border: 1px dashed var(--md-sys-color-on-primary-container);

  padding: 0 16px 0 24px;
  position: relative;
  overflow-anchor: unset;
  width: 100%;
  flex: 1 auto;
}

.chat__message-composer {
  padding-inline: 1rem;
}

.chat__message-composer-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}
