:root {
  --md-sys-color-primary: oklch(
    0.4849068794486023 0.1478818841782529 252.63966171933072
  );
  --md-sys-color-on-primary: oklch(0.999999993473546 0 none);
  --md-sys-color-primary-container: oklch(
    0.9133103910508698 0.04160929657239969 263.0126070972487
  );
  --md-sys-color-on-primary-container: oklch(
    0.22545425785170017 0.06766152082392912 252.1018570525859
  );
  --md-sys-color-secondary: oklch(
    0.48287441353058236 0.03213675726581553 260.24550799764916
  );
  --md-sys-color-on-secondary: oklch(0.999999993473546 0 none);
  --md-sys-color-secondary-container: oklch(
    0.9139097739187474 0.031037474321166082 263.5084912315423
  );
  --md-sys-color-on-secondary-container: oklch(
    0.22401998546717972 0.03349970952371197 256.35633632923646
  );
  --md-sys-color-tertiary: oklch(
    0.4894959563874567 0.05791336775692632 317.56004736022015
  );
  --md-sys-color-on-tertiary: oklch(0.999999993473546 0 none);
  --md-sys-color-tertiary-container: oklch(
    0.9196908276439494 0.061678104315328296 319.27866145880955
  );
  --md-sys-color-on-tertiary-container: oklch(
    0.23200424487956364 0.057467558154232073 314.00214198673507
  );
  --md-sys-color-error: oklch(
    0.5060250783208672 0.19265235539436876 27.701757973724096
  );
  --md-sys-color-on-error: oklch(0.999999993473546 0 none);
  --md-sys-color-error-container: oklch(
    0.9182508569940921 0.04177126481295753 25.22590685781077
  );
  --md-sys-color-on-error-container: oklch(
    0.23602487305718794 0.09624111197858827 27.190962088540054
  );
  --md-sys-color-background: oklch(
    0.9926696305241811 0.004079195108670502 301.4269026611472
  );
  --md-sys-color-on-background: oklch(
    0.2251505318315882 0.004934021994002558 248.0472576504059
  );
  --md-sys-color-surface: oklch(
    0.9926696305241811 0.004079195108670502 301.4269026611472
  );
  --md-sys-color-on-surface: oklch(
    0.2251505318315882 0.004934021994002558 248.0472576504059
  );
  --md-sys-color-surface-variant: oklch(
    0.9141759470136039 0.013707153233722694 277.04968376995697
  );
  --md-sys-color-on-surface-variant: oklch(
    0.39682356596054164 0.012919995307751094 261.7470027942862
  );
  --md-sys-color-outline: oklch(
    0.5693563956525598 0.01277607386645499 269.4549031865254
  );
  --md-sys-color-outline-variant: oklch(
    0.8269054496354837 0.012950602687937135 271.2585003639423
  );
  --md-sys-color-shadow: oklch(0 0 none);
  --md-sys-color-scrim: oklch(0 0 none);
  --md-sys-color-inverse-surface: oklch(
    0.3093379413074495 0.005523138313930842 271.23615676020796
  );
  --md-sys-color-inverse-on-surface: oklch(
    0.9570416034018056 0.005413531144644065 297.7244276668809
  );
  --md-sys-color-inverse-primary: oklch(
    0.8269662722811283 0.08654800834590137 259.30223889396257
  );
  --md-sys-color-surface-container-highest: oklch(
    0.9135783031223151 0.011042277513147687 274.88479973506
  );
  --md-sys-color-surface-container-high: oklch(
    0.9317816581774617 0.01098699790238271 274.8885492817282
  );
  --md-sys-color-surface-dim: oklch(
    0.8891650313618352 0.011118656959960607 274.87948938479326
  );
  --md-sys-color-surface-bright: oklch(
    0.9838174176249449 0.007935771087350203 286.25295319390017
  );
  --md-sys-color-surface-container-lowest: oklch(0.999999993473546 0 none);
  --md-sys-color-surface-container-low: oklch(
    0.9659756821542631 0.012038467543374868 281.08405529643454
  );
}

body {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
}
